@media screen and (min-width: 768px) {

    .heading-container h1 {
        font-size: 2em;
    }

    .heading-container hr {
        width: 20vw;
    }

    .projects-container {
        width: 80vw;
    }
}



@media screen and (min-width: 1024px) {

    .navbar-clip-1 {
        height: 130px;
    }

    .navbar-clip-2 {
        height: 150px;
    }

    .navbar-clip-2 img {
        width: 170px;
        margin-right: 3rem;
        margin-top: 2.5rem;
    }

    .heading-container h1 {
        font-size: 3em;
        margin-bottom: 1rem;
    }
    
    .heading-container hr {
        width: 12vw;
    }
    
    .heading-container p {
        font-size: 1em;
    }

    .button {
        width: 15rem;
    }

    .projects-heading h1 {
       font-size: 2em;
   }
   
    .projects-container {
        width: 90vw;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 2rem;
   }

   .projects-container hr {
       display: none;
   }

   .project-card h2 {
       font-size: 1.5em;
   }

   .project-card p {
       font-size: .9em;
   }

   .project-card svg {
       width: 2rem;
       height: 2rem;
   }

}