:root {
    --main-bg-color: #272C45;
    --dark-blue: #151622;
    --light-blue: #1F2133;
    --main-heading: #EBEDEE;
    --subheading: #B4B5B5;
    --accent-green: #5A9180;
}

* {
box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--main-bg-color);
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 1px;
}

h1 {
    color: var(--main-heading);
    font-weight: 1;
    
}

h2 {
    color: var(--main-heading);
    font-weight: 1;
}

p {
    color: var(--subheading);
}

a {
    text-decoration: none;
    color: var(--main-heading);
}

hr {
    height: 2px;
    background-color: var(--accent-green);
    border: none;
    width: 30vw;
}

.button {
    border: 1px solid var(--accent-green);
    border-radius: 50px;
    padding: 1rem;
    font-size: .9em;
    width: 11rem;
    text-align: center;
    background-position: bottom center;
}

.button:hover {
    background-image: url(/resources/button-bg.png);
    background-size: 150%;
    animation: hoverEffect 10s infinite alternate;
    
}

@keyframes hoverEffect {
    0% {background-position: left;}
    100% {background-position: right;}
}

nav {
    display: flex;
    top: 0;
}

.navbar-clip-1 {
    background-color: var(--light-blue);
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 90px;
    clip-path: polygon(100% 0%, 100% 80.5%, 0% 100%, 0% 0%);

}

.navbar-clip-2 {
    background-color: var(--dark-blue);
    position: initial;
    z-index: 2;
    width: 100vw;
    right: 0;
    height: 110px;
    clip-path: polygon(100% 0%, 100% 80.5%, 0% 13.3%, 0% 0%);
}

.navbar-clip-2 img {
    width: 100px;
    height: auto;
    position: absolute;
    z-index: 3;
    right: 0;
    margin-right: 1rem;
    margin-top: 1.7rem;
}

.index-main {
    margin-top: 7rem;
}

.heading-container h1 {
    text-align: center;
    font-size: 1.3em;
}

.heading-container p {
    text-align: center;
    font-size: .8em;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.button-container a {
    margin-bottom: 1rem;
}


/* PROJECTS */

.projects-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-heading h1 {
    margin-bottom: .2rem;
}

.projects-heading hr {
    margin-bottom: 4rem;
}

.projects-container {
    margin-bottom: 3rem;
    width: 95vw;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.loader {
    animation: rotation 2s infinite linear;
    height: 5rem;
    margin: 0 auto;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
.projects-container {
    margin-bottom: 2rem;
}
.projects-container hr {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.project-card-wrapper {
    background-color: var(--light-blue);
    display: flex;
    flex-direction: column;
}

.project-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    padding-bottom: 0;
    border-radius: 2px;
    flex: 1;
}

.project-card img {
    width: 100%;
    
    border: 1px solid var(--main-bg-color);
    border-radius: 2px;
}

.project-achievements {
    padding: 1rem;
}

.achievements-heading {
color: var(--main-heading);
font-size: 1.1em;
font-weight: 100;
margin: 0;

}

.achievements-content {
    margin: 0;
    margin-top: .3rem;
}

.project-card h2 {
    align-self: flex-start;
    margin-bottom: 0;
}

.project-card p {
    margin-top: 0;
    font-size: .7em;
    align-self: flex-start;
    margin-bottom: 1.3rem;
}

.icon-container {
    align-self: flex-start;
    padding: 1rem;
    padding-top: 0;
}

.icon-container svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--main-heading);
    margin-right: 1rem;
}

.error {
    grid-column: 2;
    margin: 0 auto;
    text-align: center;
    border: 1px solid black;
    padding: 20px;
    background-color: var(--dark-blue);
    color: var(--subheading);
}

.contact-button {
    display: flex;
    justify-content: center
}

.contact-icon {
    width: 1.1rem;
    height: 1.1rem;
    fill: var(--main-heading);
    margin-right: 1rem;
}